@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.card {
    margin: auto;
    width: 60%;
    padding: 1em;
    font-family: "Lato", sans-serif;
}

details {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 0.5em;
}

summary {
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    padding: 0.5em;
}

summary::before {
    content: '>';
    display: inline-block;
    margin-right: 0.5em;
    transition: transform 0.3s;
}

details[open] summary::before {
    transform: rotate(90deg);
}

details p {
    padding: 0.5em;
}