.div1 {
    width: 300px;
    border: 1px solid black;
    margin: 10px;
}

.div2 {
    width: 50%;
    border: 1px solid black;
    margin: 10px;
}

.div3 {
    width: 50vw;
    border: 1px solid black;
    margin: 10px;
}

.div4 {
    min-width: 100px;
    max-width: 300px;
    border: 1px solid black;
    margin: 10px;
}