body {
    border: 2px solid green;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    border: 2px solid blue;
    padding: 2em;
    margin: 1.5em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.header {
    margin-bottom: 1em;
}

.footer {
    margin-top: 1em;
}