.flex-container {
    display: flex;
    width: 300px;
    border: 2px solid blue;
    padding: 1em;
    align-items: flex-start;

}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
    flex-basis: 300px;
}

.div1 div {
    flex-shrink: 1;
}

.div2 div {
    flex-shrink: 0;
}

.div3 div {
    flex-shrink: 0;
}

.div3 div:nth-child(2) {
    flex-shrink: 1;
}