body {
    background-color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    gap: 2em;
    width: 80%;
    margin: 4em auto;
}

.flex-item-first {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.flex-one-first,
.flex-one-second {
    display: flex;
    gap: 2em;
}

.flex-one-first,
.flex-one-second,
.flex-item-second {
    background-color: white;
    border-radius: 5px;
    padding: 1em;
}

.flex-item-first {
    flex: 2;
}

.flex-item-second {
    flex: 1;
}

.flex-circle {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #009900;
    border: 5px solid white;
    box-shadow: 1px 1px 5px lightgray;
    flex-shrink: 0;
}

.small-flex-circle {
    width: 6em;
    height: 6em;
}

i {
    font-size: 3em;
}

p {
    color: #ADAEAE;
}

.flex-item-second {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

